@model Ultimate_Tech_Premio.Models.Chamado
@using Ultimate_Tech_Premio.Enum

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Avaliacao_Chamado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.nome_usuario)
        @Html.HiddenFor(model => model.data_chamado)
        @Html.HiddenFor(model => model.descricao)
        @Html.HiddenFor(model => model.status)
        @Html.HiddenFor(model => model.titulo)
        @Html.HiddenFor(model => model.Tecnico1)
        @Html.HiddenFor(model => model.UsuarioId)
        @Html.HiddenFor(model => model.Tecnico_nome)


        <div class="form-group">
            <label class="control-label">O Chamado Foi Solucionado?</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.solucionado_avaliacao, new SelectList(ViewBag.solucionadoSN, "SIM"), "Selecione")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Cordialidade do Tecnico</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.cordialidade_avaliacao, new SelectList(ViewBag.Notas), "Selecione")
                @Html.ValidationMessageFor(model => model.cordialidade_avaliacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Habilidade do Tecnico</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.habilidade_avaliacao, new SelectList(ViewBag.Notas), "Selecione")
                @Html.ValidationMessageFor(model => model.habilidade_avaliacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Sugestão de Melhora Para um Futuro Chamado</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sugestao_avaliacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sugestao_avaliacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Nota Geral do Tecnico e do Chamado</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.nota_avaliacao, new SelectList(ViewBag.Notas), "Selecione")
                @Html.ValidationMessageFor(model => model.nota_avaliacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Avaliar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
