@model Ultimate_Tech_Premio.Models.Chamado

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h4>Novo Chamado</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="row">
                    <label>Titulo do Chamado</label>
                </div>
                <div class="row">
                    @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control", required = true } })
                    @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label>Descrição do Problema</label>
                </div>
                <div class="row">
                    @Html.TextAreaFor(model => model.descricao, new {@class = "form-control", required = true})
                    @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <button type="submit" class="btn btn-success">Criar Chamado</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Chamado")';return false;">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
